---
layout: layout.njk
title: Chill Playlist
playlistTitle: Chill
playlistImage: https://images.unsplash.com/photo-1520809227329-2f94844a9635
playlistDescription: A playlist to chill your mind
playlistPath: /chill-playlist
---

{% include "playlist-card-component.njk" %}

<div class="column is-8">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Remurdered</td>
        <td>Mogwai</td>
        <td>6:26</td>
      </tr>
      <tr>
        <td>Your Hand on Mine</td>
        <td>Explosions in the Sky</td>
        <td>8:17</td>
      </tr>
      <tr>
        <td>Undertow</td>
        <td>Lisa Hannigan</td>
        <td>3:24</td>
      </tr>
    </tbody>
  </table>
</div>