---
layout: layout.njk
title: Focus Playlist
playlistTitle: Focus
playlistImage: https://images.unsplash.com/photo-1453728013993-6d66e9c9123a
playlistDescription: A playlist to focus your mind
playlistPath: /focus-playlist
---

{% include "playlist-card-component.njk" %}

<div class="column is-8">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Spoonman</td>
        <td>Soundgarden</td>
        <td>4:06</td>
      </tr>
      <tr>
        <td>The Noose</td>
        <td>A Perfect Circle</td>
        <td>4:53</td>
      </tr>
      <tr>
        <td>Go Dig My Grave</td>
        <td>Lankum</td>
        <td>8:38</td>
      </tr>
    </tbody>
  </table>
</div>