---
layout: layout.njk
title: Focus Playlist
---
<div class="column is-4">
  <section class="card has-text-centered">
    <header class="card-header">
      <p class="card-header-title is-size-4 is-centered">
        Focus
      </p>
    </header>
    <div class="card-image">
      <figure class="image">
        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a" alt="Image">
      </figure>
    </div>
    <article class="card-content">
      <p class="content is-size-4">
        A playlist to focus to
      </p>
    </article>
    <footer class="card-footer">
      <button class="card-footer-item button has-background-grey-lighter">Play</button>
      <button class="card-footer-item button has-background-grey-lighter">Open</button>
      <button class="card-footer-item button has-background-grey-lighter">Remove</button>
    </footer>
  </section>
</div>
<div class="column is-8">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Spoonman</td>
        <td>Soundgarden</td>
        <td>4:06</td>
      </tr>
      <tr>
        <td>The Noose</td>
        <td>A Perfect Circle</td>
        <td>4:53</td>
      </tr>
      <tr>
        <td>Go Dig My Grave</td>
        <td>Lankum</td>
        <td>8:38</td>
      </tr>
    </tbody>
  </table>
</div>