---
layout: layout.njk
title: My Playlists
---

{% set playlistTitle = "Chill" %}
{% set playlistImage = "https://images.unsplash.com/photo-1520809227329-2f94844a9635" %}
{% set playlistDescription = "A playlist to chill your mind" %}
{% set playlistPath = "/chill-playlist"%}

{% include "playlist-card-component.njk" %}

{% set playlistTitle = "Focus" %}
{% set playlistImage = "https://images.unsplash.com/photo-1453728013993-6d66e9c9123a" %}
{% set playlistDescription = "A playlist to focus the mind" %}
{% set playlistPath = "/focus-playlist"%}

{% include "playlist-card-component.njk" %}

{% set playlistTitle = "Let Off Steam" %}
{% set playlistImage = "https://images.unsplash.com/photo-1625159510807-03f1d1b52bff" %}
{% set playlistDescription = "A playlist for one of those days" %}
{% set playlistPath = "/let-off-steam-playlist"%}

{% include "playlist-card-component.njk" %}