---
layout: layout.njk
title: My Playlists
---

<div class="column is-4">
  <section class="card has-text-centered">
    <header class="card-header">
      <p class="card-header-title is-size-4 is-centered">
        Chill
      </p>
    </header>
    <div class="card-image">
      <figure class="image">
        <img src="https://images.unsplash.com/photo-1520809227329-2f94844a9635" alt="Image">
      </figure>
    </div>
    <article class="card-content">
      <p class="content is-size-4">
        A playlist to chill your mind
      </p>
    </article>
    <footer class="card-footer">
      <button class="card-footer-item button has-background-grey-lighter">Play</button>
      <a href="/chill-playlist" class="card-footer-item button has-background-grey-lighter">Open</a>
      <button class="card-footer-item button has-background-grey-lighter">Remove</button>
    </footer>
  </section>
</div>
<div class="column is-4">
  <section class="card has-text-centered">
    <header class="card-header">
      <p class="card-header-title is-size-4 is-centered">
        Focus
      </p>
    </header>
    <div class="card-image">
      <figure class="image">
        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a" alt="Image">
      </figure>
    </div>
    <article class="card-content">
      <p class="content is-size-4">
        A playlist to focus the mind
      </p>
    </article>
    <footer class="card-footer">
      <button class="card-footer-item button has-background-grey-lighter">Play</button>
      <a href="/focus-playlist" class="card-footer-item button has-background-grey-lighter">Open</a>
      <button class="card-footer-item button has-background-grey-lighter">Remove</button>
    </footer>
  </section>
</div>
<div class="column is-4">
  <section class="card has-text-centered">
    <header class="card-header">
      <p class="card-header-title is-size-4 is-centered">
        Let Off Steam
      </p>
    </header>
    <div class="card-image">
      <figure class="image">
        <img src="https://images.unsplash.com/photo-1625159510807-03f1d1b52bff" alt="Image">
      </figure>
    </div>
    <article class="card-content">
      <p class="content is-size-4">
        A playlist for one of those days
      </p>
    </article>
    <footer class="card-footer">
      <button class="card-footer-item button has-background-grey-lighter">Play</button>
      <a href="/let-off-steam-playlist" class="card-footer-item button has-background-grey-lighter">Open</a>
      <button class="card-footer-item button has-background-grey-lighter">Remove</button>
    </footer>
  </section>
</div>

