---
layout: layout.njk
title: Let Off Steam Playlist
---
<div class="column is-4">
  <section class="card has-text-centered">
    <header class="card-header">
      <p class="card-header-title is-size-4 is-centered">
        Let Off Steam
      </p>
    </header>
    <div class="card-image">
      <figure class="image">
        <img src="https://images.unsplash.com/photo-1625159510807-03f1d1b52bff" alt="Image">
      </figure>
    </div>
    <article class="card-content">
      <p class="content is-size-4">
        A playlist for one of those days
      </p>
    </article>
    <footer class="card-footer">
      <button class="card-footer-item button has-background-grey-lighter">Play</button>
      <button class="card-footer-item button has-background-grey-lighter">Open</button>
      <button class="card-footer-item button has-background-grey-lighter">Remove</button>
    </footer>
  </section>
</div>
<div class="column is-8">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Set Guitars to Kill</td>
        <td>And So I Watch You From Afar</td>
        <td>5:29</td>
      </tr>
      <tr>
        <td>The Grudge</td>
        <td>Tool</td>
        <td>8:35</td>
      </tr>
      <tr>
        <td>The Wolf is Loose</td>
        <td>Mastodon</td>
        <td>3:34</td>
      </tr>
    </tbody>
  </table>
</div>