  <nav class="navbar has-background-black">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/images/logo-with-name.png" alt="Logo" />
      </a>
      <span class="navbar-burger has-background-black" data-target="navbarMenu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end has-background-black">
        <a href="/" class="navbar-item has-text-white is-active">
          Home
        </a>
        <a href="/chill-playlist" class="navbar-item has-text-white">
          Chill
        </a>
        <a href="/focus-playlist" class="navbar-item has-text-white">
          Focus
        </a>
        <a href="/let-off-steam-playlist" class="navbar-item has-text-white">
          Steam
        </a>
      </div>
    </div>
  </nav>