<div class="column is-4">
  <section class="card has-text-centered">
    <header class="card-header">
      <p class="card-header-title is-size-4 is-centered">
        {{playlistTitle}}
      </p>
    </header>
    <div class="card-image">
      <figure class="image">
        <img src="{{playlistImage}}" alt="Image">
      </figure>
    </div>
    <article class="card-content">
      <p class="content is-size-4">
        {{playlistDescription}}
      </p>
    </article>
    <footer class="card-footer">
      <button class="card-footer-item button has-background-grey-lighter">Play</button>
      <a href="{{playlistPath}}" class="card-footer-item button has-background-grey-lighter">Open</a>
      <button class="card-footer-item button has-background-grey-lighter">Remove</button>
    </footer>
  </section>
</div>